<div class="container" style="display: flex;">
	  	<div class="col-xs-8" style=" margin: auto;">
	  		<div class="" style="border-radius: 8px;">
	  			<div class="hard{{vm.newsItem.class}}" style="padding: 20px;">	  			
	  				<h3 style="text-align: center; color: #fff">{{vm.newsItem.carrera}}</h3>
		  			<div class="input-group">
					  	<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2" ng-model="vm.itemSearch">
					  	<span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>
					</div>  
				</div>      
			  	<table class="table table-hover table-striped {{vm.newsItem.class}} box-shadow">
				    <thead>
				      	<tr>
				        	<th>#</th>
				        	<th>Nombre</th>
				        	<th>Autor</th>
				      	</tr>
				    </thead>
				    <tbody >
				      	<tr data-toggle="modal" data-target="#myModal" ng-click="vm.showModal('libro de administracion')">
				        	<td>1</td>
				        	<td>libro de administracion</td>
				        	<td>ciro alegria</td>
				      	</tr>
				      	<tr data-toggle="modal" data-target="#myModal" ng-click="vm.showModal('libro de ingeniería')">
				        	<td>2</td>
				        	<td>libro de ingeniería</td>
				        	<td>cesar vallejo</td>
				      	</tr>
				      	<tr data-toggle="modal" data-target="#myModal" ng-click="vm.showModal('libro de enfermería')">
				        	<td>3</td>
				        	<td>libro de enfermería</td>
				        	<td> jose olaya</td>
				      	</tr>
				    </tbody>
			  	</table>
	  		</div>
	 	</div>
	</div>

	<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header hard{{vm.newsItem.class}}" style="color: #fff;">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">{{vm.libro}}</h4>
	      </div>
	      <div class="modal-body {{vm.clase}}">
	      	<div style="display: flex; margin-bottom: 20px;">
		      	<div class="" >
		      		<img class="box-shadow" src="/img/libros/caballero_carmelo.jpg" >
		      	</div>
				<div class="container-fluid" >
					<p>
						Descripcion
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullavmo laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<p>
						autor del libro
					</p>
					<p>
						HArry potter
					</p>
				</div>
	      	</div>
	      	<div>
	      		<div class="form-group" style="margin-bottom: 50px;">
				  <textarea class="form-control"  ng-model="vm.respuesta" rows="5" id="comment"></textarea>
				  <input type="submit" class="btn btn-primary hard{{vm.newsItem.class}} pull-right" value="Comentar" ng-click="vm.responder(vm.respuesta)">
				</div>
	      		<div class="well well-lg">
					<div class="media" ng-repeat="d in vm.comentarios| limitTo:5" >
						<a href="" class="pull-left">
							<img src="/img/demo/users/face10.png" class="img-circle">
						</a>
						<div class="media-body">
							<h4 class="media-heading">
								<a href=""><span class="usuario">Romario díaz - Usuario</span></a>
								<small class="pull-right"><span class="glyphicon glyphicon-time"></span>hace 30 minutos</small>
							</h4>
							<p>{{d.coment}}</p>
						</div>
					</div>
				</div>
	      	</div>
	      </div>

	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	        <button type="button" class="btn btn-primary hard{{vm.newsItem.class}}">Reservar</button>
	      </div>
	    </div>
	  </div>
	</div>
